html,
body {
  background-image: url("/images/bg-dark-2-low.jpg");
}

.cover-container {
  max-width: 80em;
}

.sync {
  font-size: 0.4em;
  background-color: #33f;
}

.schedule-table {
  background-image: url("/images/schedule_table.png?v=2");
  background-size: contain;
  width: 55em;
  height: 30em;
  position: relative;
}

.left-panel
{
  margin: 0.5em;
}

.dropdown-toggle
{
  width: 16em;
  margin-bottom: 1em;
  text-align: right;
}

.dropdown-menu, .show { right: 0 !important; }

.unit-item
{
  border-radius: 0.4em;
  position: absolute;
  cursor: pointer;
}

.item-temp
{
  background-color: #fffc;
}

.item-normal
{
  background-color: #ffaa;
}

.item-text
{
  text-align: center;
  margin: 4px;
  font-size: 14px;
  color: #000;
}

.item-name
{
  font-weight: bold;
/*
  padding-top: 0.6em;
*/
}
.item-instructor
{
  font-size:12px;
  font-weight: 100;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
    color: #000 !important;
}

.data_info
{
  font-size: 12px;
  margin-bottom: 5px;
}

.dropdown-item
{
  text-align: right;
}

.list_unit_name
{
  margin-bottom: 0.2em;
  font-size: 0.85rem;
}
.list_unit_instructor
{
  color: #f00;
  margin-bottom: 0.6em;
  font-size: 0.72rem;
  font-weight: light;
}
.list_unit_capacity
{
  color: #00f;
  margin-bottom: 0.6em;
  margin-right: 0.5em;
  margin-left: 0.5em;
  font-size: 0.72rem;
  font-weight: light;
}
.dropdown-item
{
  padding: 0rem;
  padding-bottom: 0.5rem;
}

h3 {
  font-weight: 600;
}

.tooltip .arrow::before {
  border-bottom-color: #666;
  bottom: -1px;
}

.tooltip-inner {
  background-color: #666;
  width: 12em;
  font-family: 'Vazir', sans-serif;
}

.twitter-share-button {
  vertical-align: middle;
  height: 25px !important;
  width: 80px !important;
}

.hstack {
  display: flex;
  flex-direction: row;
  min-width: 14em;
}

.fav-button {
  background-image: url(/images/bookmark.svg);
  width: 3em;
  height: 2.5em;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: top;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  filter: invert(20%);
}

.fav-button:hover {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(30deg) brightness(150%) contrast(97%);
}

.dropdown-item .fav-button {
  visibility: hidden;
}

.dropdown-item:hover .fav-button {
  visibility: visible;
}

.fav-button-selected {
  background-image: url(/images/bookmark-selected.svg);
}

.dropdown-item .fav-button-selected {
  visibility: visible;
  filter: invert(50%);
}

.dropdown-item:hover .fav-button-selected {
  visibility: visible;
  filter: invert(20%);
}

.dropdown-item:hover .fav-button-selected:hover {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(30deg) brightness(150%) contrast(97%);
}

.list-row {
  max-width: 11em;
}

.dropdown-item.active:not(.dropdown-item:active) {
  background-color: unset;
  color: unset;
  /* Beautiful but less intuitive... */
  /* background-color: #474e54; */
}
