{% set footnote_text|safe %}
این سایت شخصی و غیر رسمیه و با دانشگاه علم و صنعت در ارتباط نیست | ایمیل من: elmos.vahed@gmail.com |
{# <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="آیا زخمی انتخاب واحد علم و صنعت هستید؟ این سایت بهتون کمک میکنه!‏" data-url="https://elmos-vahed.ir" data-lang="fa" data-dnt="true" data-show-count="false"></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> #}
{% endset %}

{% set site_title %}
دستیار انتخاب واحد علموص (آزمایشی)
{% endset %}

{% set site_short_title %}
دستیار انتخاب واحد علموص
{% endset %}

{% set page_title %}
واحدهای علموص
{% endset %}

{% set site_url %}
https://elmos-vahed.ir
{% endset %}

{% set ga_script|safe %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-176268794-3"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-176268794-3');
</script>
{% endset %}