{% import 'constants.jinja' as C %}

{% extends 'layout.html' %}

{% block title %}
{{C.page_title}} | صفحه اصلی
{% endblock %}

{% block body %}

  <main role="main" class="inner cover" style="font-size: x-large;">
    <p>
      دوستان عزیز سلام. ممنونم که به سایت من اومدید.
    </p>
    <p>
      من سازنده و ادمین علموص واحد هستم. ورودی قدیم هستم و خیلی وقته فارغ التحصیل شدم ولی این سایت رو برای کمک به بچه‌ها باز نگه داشته بودم و پشتیبانی میکردم.
    </p>
    <p>
      متاسفانه امسال یک مشکلی پیش اومده.
    </p>
    <p>
      داستان اینه که از حدود دو سال پیش، سایت علموص واحد روی سروِری بود که شرکت ابر آبالون (ابر زس سابق) لطف کرده بود و به طور رایگان در اختیارم قرار داده بود. اما امسال تصمیم گرفتن دیگه این حمایت رو ادامه ندن. من تا قبل از اون سرور رو با هزینه شخصی تهیه می‌کردم ولی الان متاسفانه ایران نیستم و فعلا نه توانایی پرداخت بانکی در ایران رو دارم و نه توانایی احراز هویت. سروری که خارج از ایران دارم هم چون آیپی ایران نداره نمیتونه به گلستان وصل بشه که بتونه دیتابیسش رو آپدیت کنه. خلاصه، موانع زیاد باعث شد که عطاش رو به لقاش ببخشم.
    </p>
    <p>
      بنابراین تصمیم گرفتم خودم رو بازنشسته کنم. ولی علموص واحد چی؟ خوب من عجالتا کدهای سایت و یک دیتابیس نمونه رو (بعد از پاک کردن لیست کاربرها!) به طور عمومی منتشر کردم. حالا کسی که از برنامه‌نویسی سایت سر در بیاره میتونه یه نسخه مشابه رو با استفاده از اون کد ایجاد کنه. حالا، من منتظر میمونم یکی از شما یه نسخه عمومی از سایت رو بالا بیاره و به من ایمیل بده تا منم لینک سایتش رو همینجا بذارم و همتون برین اونجا استفاده کنین.
    </p>
    <p>
      ایمیل من: elmos.vahed@gmail.com
      <br>
      آدرس کد در گیتهاب:<br>
      <a href="https://github.com/m2-farzan/elmos">https://github.com/m2-farzan/elmos</a>
    </p>
    <p>
      امیدوارم یه نفر پیدا بشه و این سایت زنده بمونه. موفق باشید.
      <br>
      ادمین علموص واحد
    </p>
  </main>

{% endblock %}
