{% import 'constants.jinja' as C %}

{% extends 'layout.html' %}

{% block title %}
{{C.page_title}} | صفحه اصلی
{% endblock %}

{% block body %}

  <main role="main" class="inner cover" style="font-size: x-large; padding: 5em 0em;">
    <p class="lead" style="border-color: green;
            border-width: 1px;
            border-style: solid;
            border-radius: 6px;
            padding: 3px 10px;
            margin: 10px 0px;
            background-color: #000b;">
        لیست جایگزین‌های غیروابسته‌ی علموص-واحد:
        <br>
        <a style="color: cyan" href="https://elmovahed.ir">https://elmovahed.ir</a>
    </p>
    <p class="lead" style="border-color: red;
        border-width: 1px;
        border-style: solid;
        border-radius: 6px;
        padding: 3px 10px;
        margin: 10px 0px;
        background-color: #000b;">
        نکته: من سازنده‌ی این جایگزین‌ها رو نمیشناسم پس برای امنیت خودتون لطفا موقع ثبت نام در سایت‌های جایگزین از رمزی استفاده کنید که قبلا اینجا یا جای دیگه استفاده نکرده‌اید.
    </p>
    <p class="lead" style="border-color: yellow;
      border-width: 1px;
      border-style: solid;
      border-radius: 6px;
      padding: 3px 10px;
      margin: 10px 0px;
      background-color: #000b;">
این دامنه (elmos-vahed.ir) بازنشسته شده و صرفا به عنوان منبعی از لینک‌هایی به جایگزین‌هایی که بچه‌ها داوطلبانه ساختن نگهداری میشه. پیشنهاد میکنم متن پایین رو بخونید و اگه تواناییش رو دارید،‌ یکی دو تا جایگزین دیگه هم بالا بیارید تا اگه یکی از سایت‌ها پایین اومد یا ادمین یادش رفت آپدیت کنه، گزینه‌های بکاپ داشته باشیم.
  </p>
  <div class="lead" style="border-color: cyan;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  padding: 3px 10px;
  margin: 10px 0px;
  background-color: #000b;">
    <p>
  یادداشت ادمین اصلی علموص واحد:</p>
    <p>
      دوستان عزیز سلام. ممنونم که به سایت من اومدید.
    </p>
    <p>
      من سازنده و ادمین علموص واحد هستم. ورودی قدیم هستم و خیلی وقته فارغ التحصیل شدم ولی این سایت رو برای کمک به بچه‌ها باز نگه داشته بودم و پشتیبانی میکردم.
    </p>
    <p>
      متاسفانه امسال یک مشکلی پیش اومده که باعث شده دیگه توانایی پشتیبانی از سایت رو نداشته باشم. بنابراین تصمیم گرفتم خودم رو بازنشسته کنم. ولی علموص واحد چی؟ خوب من عجالتا کدهای سایت و یک دیتابیس نمونه رو (بعد از پاک کردن لیست کاربرها!) به طور عمومی منتشر کردم.
      
    </p><p>

      حالا کسی که از برنامه‌نویسی سایت سر در بیاره میتونه یه نسخه مشابه رو با استفاده از اون کد ایجاد کنه. هر کدوم از شما یه نسخه عمومی از سایت رو بالا بیاره و به من ایمیل بده من لینکش رو بالای این صفحه اضافه میکنم تا بقیه استفاده کنن.
    </p>
    <p>
      ایمیل من: elmos.vahed@gmail.com
      <br>
      آدرس کد در گیتهاب:<br>
      <a style="color: cyan" href="https://github.com/m2-farzan/elmos">https://github.com/m2-farzan/elmos</a>
    </p>
    </div>
  </main>

{% endblock %}
