<!DOCTYPE html>
<html dir="rtl">
  <head>
    <meta charset="utf-8">
    <!-- Primary Meta Tags -->
    <meta name="title" content="دستیار انتخاب واحد علموص">
    <meta name="description" content="این سایت به شما کمک میکنه برای ترم آینده راحت تر و سریعتر برنامه ریزی کنین">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://elmos-vahed.ir/">
    <meta property="og:title" content="دستیار انتخاب واحد علموص">
    <meta property="og:description" content="این سایت به شما کمک میکنه برای ترم آینده راحت تر و سریعتر برنامه ریزی کنین">
    <meta property="og:image" content="/images/preview.png">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="http://elmos-vahed.ir/">
    <meta property="twitter:title" content="دستیار انتخاب واحد علموص">
    <meta property="twitter:description" content="این سایت به شما کمک میکنه برای ترم آینده راحت تر و سریعتر برنامه ریزی کنین">
    <meta property="twitter:image" content="/images/preview.png">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176268794-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-176268794-3');
    </script>
    <title>برنامه هفتگی</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v27.1.0/dist/font-face.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/css/schedule.css?v=3">
    <link rel="shortcut icon" href="/images/favicon.ico">
  </head>
  <body>
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">
            <a href="/home">دستیار انتخاب واحد علموص (آزمایشی)</a>
            <small id="connecting" class="sync invisible">در حال همگام سازی...</small>
          </h3>
          <nav class="nav nav-masthead justify-content-center">
            {% if is_supporter and support_prompt %}
            <a class="nav-link" href="https://www.payping.ir/d/rhZC" style="color: greenyellow;">پشتیبانی مالی</a>
            {% endif %}
            <a class="nav-link active" href="/schedule">برنامه هفتگی</a>
            <a class="nav-link" href="/exams">برنامه امتحانات</a>
            <a class="nav-link" href="/summary">خلاصه وضعیت</a>
            <a class="nav-link" href="/logout">خروج</a>
          </nav>
        </div>
    </header>
    
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for color, message in messages %}
          <p class="lead" style="border-color: {{ color }};
            border-width: 1px;
            border-style: solid;
            border-radius: 6px;
            padding: 3px 10px;
            margin: 10px 0px;
            font-size: 1rem;
            background-color: #000b;">
            {{ message }}
            </p>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% if (not is_supporter) and support_prompt %}
    <span class="lead" style="border-color: white;
            border-width: 1px;
            border-style: solid;
            border-radius: 6px;
            padding: 10px 10px;
            margin: 10px 10px;
            font-size: 1rem;
            font-weight: 500;
            background-color: #0906;
            width: 64em;">
      <a>
اگه از سایت (با تمام باگ‌هاش!) خوشتون اومده، در پرداخت اجاره سرور مشارکت کنید تا بتونیم برای ترم‌های بعد هم اینجا رو داشته باشیم.
      </a>
      <a href="https://www.payping.ir/d/rhZC" style="
        border-radius: 6px;
        padding: 3px 10px;
        margin: 0px 5px;
        font-size: 1rem;
        font-weight: 800;
        color: #28ee;
        background-color: #fff;
        width: 65em;
        text-shadow: none;
      ">پشتیبانی مالی 💙</a>
    </span>
    {% endif %}
    
    <main role="main" class="inner cover">
      <div class="row" style="margin:0px">
        <div class="schedule-table" id="schedule-table">
        </div>
        <div class="left-panel vertical">
          
          <p>دانشکده شما:</p>
          
          {% cache 50, session['user_dep_id'], (session['gender']|string), last_update %}
          <div>
            <select class="selectpicker unit_select" multiple data-width="18em" data-live-search="true" data-selected-text-format="static" title="{{user_department().name}}">
            {% for unit in user_department().units %}
              <option 
              
                data-content="<p id='{{unit.id}}_data' class='data_info' data-id='{{unit.id}}' data-name='{{unit.name}}' data-instructor='{{unit.instructor}}' data-time-start-1='{{unit.time_start_1}}' data-time-end-1='{{unit.time_end_1}}' data-weekday-1='{{unit.weekday_1}}' data-time-start-2='{{unit.time_start_2}}' data-time-end-2='{{unit.time_end_2}}' data-weekday-2='{{unit.weekday_2}}' data-time-start-3='{{unit.time_start_3}}' data-time-end-3='{{unit.time_end_3}}' data-weekday-3='{{unit.weekday_3}}' data-registered='{{unit.registered}}' data-capacity='{{unit.capacity}}''><div><p class='list_unit_name'>{{unit.name}}</p><p class='list_unit_instructor'>{{unit.instructor}}<span class='list_unit_capacity'>{{unit.registered}}/{{unit.capacity}}</span></p></div>"
              
               >{{unit.id}}</option>
            {% endfor %}
            </select>
          </div>
          {% endcache %}

          {% cache 50, (session['gender']|string), last_update %}
          
          <p>دانشکده های عمومی:</p>
          
          <div>
          <select class="selectpicker unit_select" multiple data-width="18em" data-live-search="true" data-selected-text-format="static" title="{{departments_by_key().k90.name}}">
          {% for unit in departments_by_key().k90.units %}
            <option 
            
              data-content="<p id='{{unit.id}}_data' class='data_info' data-id='{{unit.id}}' data-name='{{unit.name}}' data-instructor='{{unit.instructor}}' data-time-start-1='{{unit.time_start_1}}' data-time-end-1='{{unit.time_end_1}}' data-weekday-1='{{unit.weekday_1}}' data-time-start-2='{{unit.time_start_2}}' data-time-end-2='{{unit.time_end_2}}' data-weekday-2='{{unit.weekday_2}}' data-time-start-3='{{unit.time_start_3}}' data-time-end-3='{{unit.time_end_3}}' data-weekday-3='{{unit.weekday_3}}' data-registered='{{unit.registered}}' data-capacity='{{unit.capacity}}''><div><p class='list_unit_name'>{{unit.name}}</p><p class='list_unit_instructor'>{{unit.instructor}}<span class='list_unit_capacity'>{{unit.registered}}/{{unit.capacity}}</span></p></div>"
            
             >{{unit.id}}</option>
          {% endfor %}
          </select>
          </div>
          
          
          <div>
          <select class="selectpicker unit_select" multiple data-width="18em" data-live-search="true" data-selected-text-format="static" title="{{departments_by_key().k14.name}}">
          {% for unit in departments_by_key().k14.units %}
            <option 
            
              data-content="<p id='{{unit.id}}_data' class='data_info' data-id='{{unit.id}}' data-name='{{unit.name}}' data-instructor='{{unit.instructor}}' data-time-start-1='{{unit.time_start_1}}' data-time-end-1='{{unit.time_end_1}}' data-weekday-1='{{unit.weekday_1}}' data-time-start-2='{{unit.time_start_2}}' data-time-end-2='{{unit.time_end_2}}' data-weekday-2='{{unit.weekday_2}}' data-time-start-3='{{unit.time_start_3}}' data-time-end-3='{{unit.time_end_3}}' data-weekday-3='{{unit.weekday_3}}' data-registered='{{unit.registered}}' data-capacity='{{unit.capacity}}''><div><p class='list_unit_name'>{{unit.name}}</p><p class='list_unit_instructor'>{{unit.instructor}}<span class='list_unit_capacity'>{{unit.registered}}/{{unit.capacity}}</span></p></div>"
            
             >{{unit.id}}</option>
          {% endfor %}
          </select>
          </div>
          
          <div>
          <select class="selectpicker unit_select" multiple data-width="18em" data-live-search="true" data-selected-text-format="static" title="{{departments_by_key().k16.name}}">
          {% for unit in departments_by_key().k16.units %}
            <option 
            
              data-content="<p id='{{unit.id}}_data' class='data_info' data-id='{{unit.id}}' data-name='{{unit.name}}' data-instructor='{{unit.instructor}}' data-time-start-1='{{unit.time_start_1}}' data-time-end-1='{{unit.time_end_1}}' data-weekday-1='{{unit.weekday_1}}' data-time-start-2='{{unit.time_start_2}}' data-time-end-2='{{unit.time_end_2}}' data-weekday-2='{{unit.weekday_2}}' data-time-start-3='{{unit.time_start_3}}' data-time-end-3='{{unit.time_end_3}}' data-weekday-3='{{unit.weekday_3}}' data-registered='{{unit.registered}}' data-capacity='{{unit.capacity}}''><div><p class='list_unit_name'>{{unit.name}}</p><p class='list_unit_instructor'>{{unit.instructor}}<span class='list_unit_capacity'>{{unit.registered}}/{{unit.capacity}}</span></p></div>"
            
             >{{unit.id}}</option>
          {% endfor %}
          </select>
          </div>
          
<!--
          <div>
          <select class="selectpicker unit_select" multiple data-width="18em" data-live-search="true" data-selected-text-format="static" title="{{departments_by_key().k26.name}}">
          {% for unit in departments_by_key().k26.units %}
            <option 
            
              data-content="<p id='{{unit.id}}_data' class='data_info' data-id='{{unit.id}}' data-name='{{unit.name}}' data-instructor='{{unit.instructor}}' data-time-start-1='{{unit.time_start_1}}' data-time-end-1='{{unit.time_end_1}}' data-weekday-1='{{unit.weekday_1}}' data-time-start-2='{{unit.time_start_2}}' data-time-end-2='{{unit.time_end_2}}' data-weekday-2='{{unit.weekday_2}}' data-time-start-3='{{unit.time_start_3}}' data-time-end-3='{{unit.time_end_3}}' data-weekday-3='{{unit.weekday_3}}' data-registered='{{unit.registered}}' data-capacity='{{unit.capacity}}''><div><p class='list_unit_name'>{{unit.name}}</p><p class='list_unit_instructor'>{{unit.instructor}}</p></div>"
            
             >{{unit.id}}</option>
          {% endfor %}
          </select>
          </div>
-->
          
          <div>
          <select class="selectpicker unit_select" multiple data-width="18em" data-live-search="true" data-selected-text-format="static" title="{{departments_by_key().k28.name}}">
          {% for unit in departments_by_key().k28.units %}
            <option 
            
              data-content="<p id='{{unit.id}}_data' class='data_info' data-id='{{unit.id}}' data-name='{{unit.name}}' data-instructor='{{unit.instructor}}' data-time-start-1='{{unit.time_start_1}}' data-time-end-1='{{unit.time_end_1}}' data-weekday-1='{{unit.weekday_1}}' data-time-start-2='{{unit.time_start_2}}' data-time-end-2='{{unit.time_end_2}}' data-weekday-2='{{unit.weekday_2}}' data-time-start-3='{{unit.time_start_3}}' data-time-end-3='{{unit.time_end_3}}' data-weekday-3='{{unit.weekday_3}}' data-registered='{{unit.registered}}' data-capacity='{{unit.capacity}}''><div><p class='list_unit_name'>{{unit.name}}</p><p class='list_unit_instructor'>{{unit.instructor}}<span class='list_unit_capacity'>{{unit.registered}}/{{unit.capacity}}</span></p></div>"
            
             >{{unit.id}}</option>
          {% endfor %}
          </select>
          </div>
          
          <div>
          <select class="selectpicker unit_select" multiple data-width="18em" data-live-search="true" data-selected-text-format="static" title="{{departments_by_key().k27.name}}">
          {% for unit in departments_by_key().k27.units %}
            <option 
            
              data-content="<p id='{{unit.id}}_data' class='data_info' data-id='{{unit.id}}' data-name='{{unit.name}}' data-instructor='{{unit.instructor}}' data-time-start-1='{{unit.time_start_1}}' data-time-end-1='{{unit.time_end_1}}' data-weekday-1='{{unit.weekday_1}}' data-time-start-2='{{unit.time_start_2}}' data-time-end-2='{{unit.time_end_2}}' data-weekday-2='{{unit.weekday_2}}' data-time-start-3='{{unit.time_start_3}}' data-time-end-3='{{unit.time_end_3}}' data-weekday-3='{{unit.weekday_3}}' data-registered='{{unit.registered}}' data-capacity='{{unit.capacity}}''><div><p class='list_unit_name'>{{unit.name}}</p><p class='list_unit_instructor'>{{unit.instructor}}<span class='list_unit_capacity'>{{unit.registered}}/{{unit.capacity}}</span></p></div>"
            
             >{{unit.id}}</option>
          {% endfor %}
          </select>
          </div>
          {% endcache %}
          
          <p>همه دانشکده ها:</p>
          
          <div id="lazy_list_div">
          <select id="lazy_list" class="selectpicker unit_select" multiple data-width="18em" data-live-search="true" data-selected-text-format="static" title="همه دانشکده ها">
          </select>
          </div>

      </div>
    </main>
    
    <footer class="mastfoot mt-auto">
      <div class="inner">
        {% if captcha_required %}
        <div style="border-radius: 0.5em;
        border-width: 1px;
        border-style: solid;
        border-color: white;
        width: 35em;
        padding: 0.5em;">
        <p style="color: wheat;">هی، میتونی کمکم کنی وارد گلستان بشم و دیتابیس رو آپدیت کنم؟ 🤖🤖</p>
        <p style="color: wheat;">فقط بهم بگو اینجا چی نوشته:</p>
        <div style="text-align: center;
          display: inline-flex;
          margin-bottom: 0.5em;">
          <img src="/captcha/img?{{range(1,1000000000)|random}}" style="border-radius: 0.5em;">
          <label for="inputCaptcha" class="sr-only">Captcha</label>
          <input name="captcha" type="text" id="inputCaptcha" class="form-control" placeholder="حروف عکس" required style="margin-top: 0.6em;" autocomplete="off">
          <a style="border-radius: 6px;
          padding: 3px 10px;
          margin: 0px 5px;
          font-size: 1rem;
          font-weight: 800;
          color: rgb(202, 184, 84);
          background-color: #333;
          border-color: rgb(202, 184, 84);
          border-style: solid;
          border-width: 2px;
          width: 10em;
          height: 2.4em;
          text-shadow: none;
          margin-top: 0.6em;" href="" onclick="push_captcha();">برو</a>
        </div>
      </div>
        {% endif %}
        <p>
آخرین به روز رسانی دیتابیس: {{last_update}} <a href="/database_notes" style="color: rgba(255, 255, 255, .5);">
          [فهرست نواقص دیتابیس]
        </a>
        </p>
        <p>
  این سایت شخصی و غیر رسمیه و با دانشگاه علم و صنعت در ارتباط نیست. ایمیل من: elmos.vahed@gmail.com
        </p>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/js/bootstrap-select.min.js"></script>
    <script src="/scripts/schedule.js?v=12"></script>
    <script>
    $('.unit_select').on('loaded.bs.select', function (e, clickedIndex, isSelected, previousValue) {
      var arr = []
      {% for unit in user_units %}
      arr.push('{{unit.id}}');
      {% endfor %}
      $('.unit_select').selectpicker('val',arr);
    });
    {% for unit in user_units %}
    disp_item({{unit.id}}, '{{unit.name}}', '{{unit.instructor}}', {{unit.weekday_1}}, {{unit.time_start_1}}, {{unit.time_end_1}}, {{unit.weekday_2}}, {{unit.time_start_2}}, {{unit.time_end_2}}, {{unit.weekday_3}}, {{unit.time_start_3}}, {{unit.time_end_3}}, {{unit.registered}}, {{unit.capacity}}, false);
    {% endfor %}
    </script>
    <script>
      var push_captcha = function() {
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", '/captcha/code/' + $("#inputCaptcha").val(), true);
        xhttp.send();
      }
    </script>
  </body>
</html>
