{% import 'constants.jinja' as C %}

<!DOCTYPE html>
<html dir="rtl">
  <head>
    <meta charset="utf-8">
    {{C.ga_script}}
    <title>برنامه هفتگی</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/base.css?v=2">
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v27.1.0/dist/font-face.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/css/schedule.css?v=5">
    <link rel="shortcut icon" href="/images/favicon.ico">
  </head>
  <body>
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">
            <a href="/">{{C.site_title}}</a>
            <small id="connecting" class="sync invisible">در حال همگام سازی...</small>
          </h3>
          <nav class="nav nav-masthead justify-content-center">
            {% if is_supporter and support_prompt %}
            <a class="nav-link" href="https://www.payping.ir/d/rhZC" style="color: greenyellow;">پشتیبانی مالی</a>
            {% endif %}
            <a class="nav-link active" href="/schedule">برنامه هفتگی</a>
            <a class="nav-link" href="/exams">برنامه امتحانات</a>
            <a class="nav-link" href="/summary">خلاصه وضعیت</a>
            <a class="nav-link" href="/logout">خروج</a>
          </nav>
        </div>
    </header>
    
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for color, message in messages %}
          <p class="lead" style="border-color: {{ color }};
            border-width: 1px;
            border-style: solid;
            border-radius: 6px;
            padding: 3px 10px;
            margin: 10px 0px;
            font-size: 1rem;
            background-color: #000b;">
            {{ message }}
            </p>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% if (not is_supporter) and support_prompt %}
    <span class="lead" style="border-color: white;
            border-width: 1px;
            border-style: solid;
            border-radius: 6px;
            padding: 10px 10px;
            margin: 10px 10px;
            font-size: 1rem;
            font-weight: 500;
            background-color: #0906;
            width: 64em;">
      <a>
اگه از سایت (با تمام باگ‌هاش!) خوشتون اومده، در پرداخت اجاره سرور مشارکت کنید تا بتونیم برای ترم‌های بعد هم اینجا رو داشته باشیم.
      </a>
      <a href="https://www.payping.ir/d/rhZC" style="
        border-radius: 6px;
        padding: 3px 10px;
        margin: 0px 5px;
        font-size: 1rem;
        font-weight: 800;
        color: #28ee;
        background-color: #fff;
        width: 65em;
        text-shadow: none;
      ">پشتیبانی مالی 💙</a>
    </span>
    {% endif %}
    
    <main role="main" class="inner cover">
      <div class="row" style="margin:0px">
        <div class="schedule-table" id="schedule-table">
        </div>
        <div class="left-panel vertical">
          
          <p>گروه شما:</p>
          
          {% cache 50, session['user_dep_id'], (session['gender']|string), last_update %}
          <div>
            <select class="selectpicker unit_select" multiple data-width="18em" data-live-search="true" data-selected-text-format="static" title="{{user_department().name}}">
            {% for unit in user_department().units %}
              <option 
              
                data-tokens="{{unit.id}}"
                data-content='<p id="{{unit.id}}_data" class="data_info" data-unit=&#39;{{ unit|tojson }}&#39;><div><p class="list_unit_name">{{unit.name}}</p><p class="list_unit_instructor">{{unit.instructor}}<span class="list_unit_capacity">{{unit.registered_count}}/{{unit.capacity}}</span></p></div>'
              
               >{{unit.id}}</option>
            {% endfor %}
            </select>
          </div>
          {% endcache %}

          {% cache 50, (session['gender']|string), last_update %}

          <p>دانشکده های عمومی:</p>
          {% for dep in comdeps() %}
            <div>
            <select class="selectpicker unit_select" multiple data-width="18em" data-live-search="true" data-selected-text-format="static" title="{{dep.name}}">
            {% for unit in dep.units %}
              <option 
              
              data-tokens="{{unit.id}}"
              data-content='<p id="{{unit.id}}_data" class="data_info" data-unit=&#39;{{ unit|tojson }}&#39;><div><p class="list_unit_name">{{unit.name}}</p><p class="list_unit_instructor">{{unit.instructor}}<span class="list_unit_capacity">{{unit.registered_count}}/{{unit.capacity}}</span></p></div>'
              
              >{{unit.id}}</option>
            {% endfor %}
            </select>
            </div>
          {% endfor %}
          
          {% endcache %}
          
          <p>همه گروه ها:</p>
          
          <div id="lazy_list_div">
          <select id="lazy_list" class="selectpicker unit_select" multiple data-width="18em" data-live-search="true" data-selected-text-format="static" title="همه دانشکده ها">
          </select>
          </div>

      </div>
    </main>
    
    <footer class="mastfoot mt-auto">
      <div class="inner">
        {% if captcha_required %}
        <div style="border-radius: 0.5em;
        border-width: 1px;
        border-style: solid;
        border-color: white;
        width: 35em;
        padding: 0.5em;">
        <p style="color: wheat;">هی، میتونی کمکم کنی وارد گلستان بشم و دیتابیس رو آپدیت کنم؟ 🤖🤖</p>
        <p style="color: wheat;">فقط بهم بگو اینجا چی نوشته:</p>
        <div style="text-align: center;
          display: inline-flex;
          margin-bottom: 0.5em;">
          <img src="/captcha/img?{{range(1,1000000000)|random}}" style="border-radius: 0.5em;">
          <label for="inputCaptcha" class="sr-only">Captcha</label>
          <input name="captcha" type="text" id="inputCaptcha" class="form-control" placeholder="حروف عکس" required style="margin-top: 0.6em;" autocomplete="off">
          <a style="border-radius: 6px;
          padding: 3px 10px;
          margin: 0px 5px;
          font-size: 1rem;
          font-weight: 800;
          color: rgb(202, 184, 84);
          background-color: #333;
          border-color: rgb(202, 184, 84);
          border-style: solid;
          border-width: 2px;
          width: 10em;
          height: 2.4em;
          text-shadow: none;
          margin-top: 0.6em;" href="" onclick="push_captcha();">برو</a>
        </div>
      </div>
        {% endif %}
        <p>
آخرین به روز رسانی دیتابیس: {{last_update}} <a href="/database_notes" style="color: rgba(255, 255, 255, .5);">
          [فهرست نواقص دیتابیس]
        </a>
        </p>
        <p>{{C.footnote_text}}</p>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/js/bootstrap-select.min.js"></script>
    <script src="/scripts/schedule.js?v=13"></script>
    <script>
    $('.unit_select').on('loaded.bs.select', function (e, clickedIndex, isSelected, previousValue) {
      var arr = []
      {% for unit in user_units %}
      arr.push('{{unit.id}}');
      {% endfor %}
      $('.unit_select').selectpicker('val',arr);
    });
    {% for unit in user_units %}
    disp_item({{ unit|tojson }}, false);
    {% endfor %}
    </script>
    <script>
      var push_captcha = function() {
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", '/captcha/code/' + $("#inputCaptcha").val(), true);
        xhttp.send();
      }
    </script>
  </body>
</html>
