{% extends 'layout.html' %}

{% block title %}
واحدهای علموص | صفحه اصلی
{% endblock %}

{% block body %}

  <main role="main" class="inner cover">
    <h2 class="cover-heading">
به دستیار انتخاب واحد خوش آمدید 😎
    </h2>
    <p class="lead">
این سایت به شما کمک میکنه برای ترم آینده راحت تر و سریعتر برنامه ریزی کنین.
    </p>
    <p class="lead" style="background: darkred;">
توجه!! این سایت اصلا کارش این نیست که براتون واحدها رو اخذ کنه. اون کار رو باید خودتون تو گلستان انجام بدین، مثل همیشه.
    </p>
    <p class="lead" style="background: darkred;">
توجه!! ضمانتی نمیشه که دیتابیس این سایت کاملا درست باشه. حتی خود ما هم بعد از اینکه با سایت برنامه رو چیدیم یه دور زمانا و کدها رو با گلستان چک میکنیم تا مطمئن بشیم. شما هم این کارو بکنین!
    </p>
    <p class="lead" style="background: darkslateblue;">
رم سرور ما فقط 1 گیگه. ما تلاش می‌کنیم تا حد امکان کد سایت رو سبک نگه داریم ولی بازم امکان داره در ساعت‌های پیک کم بیاریم. بنابراین از اطلاعاتتون اسکرین‌شات بگیرین تا لحظه انتخاب واحد خیالتون راحت باشه 💛
    </p>
    <p class="lead">
      <a href="/sign-up" class="btn btn-lg btn-secondary">
ثبت نام (خیلی ساده)
      </a>
      <a href="/login" class="btn btn-lg btn-secondary">
ورود
      </a>
    </p>
  </main>

{% endblock %}
